body {
	width: 100%;
	height: 100%;
	color: #333333;
	font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
	line-height:18px;
	text-align:justify;
}

.canvas {
	cursor: hand;
}

#main {
	width: 100%;
	height: 500px;
}
#login {
	float: right;
} 
.post {
	float: left;
	height: 315px;
}

#groupinfo {
	padding: 20px;
}

#groupquery {
	text-align:center;
}

.toclear {
	clear: both;
}

h1 {
	font-size:30px;
	padding-bottom: 20px;
}
