body {
	width: 100%;
	height: 100%;
	color: #EAEAEA;
	font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
	line-height:18px;
	background: #2a2a2a url(../img/bgfull.jpg) repeat; /* Got this background image from http://www.gabri.me/demo/AGD/portfolio.html */
}

a:visited {
	color: #4A6A70;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.fb-like {
	margin-top: 20px;
}

.widgetTitle {
	text-align: center;
	color: white;
	background-color: black;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.widgetContent {
	height: inherit;
	border: 1px solid black;
}

#logsContainer {
	width: 300px;
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	text-align: left;
	height: 200px;
}

#logs {
	overflow: auto;
	font-size: 10px;
	padding: 5px;
}

#beta {
	color: red;
}

#title {
	font-size:50px;
	padding-top: 20px;
	width: 550px;
	margin: 0 auto;
}

#tooltip {
	position: absolute;
	display: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	cursor: pointer;
	padding: 10px;
}

#header p {
	margin-bottom: 10px;
}

#header input {
	margin-bottom: 10px;
	text-align:center;
}

#main {
	width: 100%;
	height: 500px;
}

#login {
	float: right;
} 

#loggedInContent {
	margin-top:20px;
}
.post {
	float: left;
	height: 315px;
}

#info {
	padding: 20px;
	display: none;
}

#startText {
	padding: 20px;
	text-align:justify;
}

.toclear {
	clear: both;
}

#grouptitle {
	font-size:30px;
	padding-bottom: 20px;
}

#groupdescription {
	margin-top:10px;
}

.ui-dialog-title {
	width: 100%;
	font-size: 12px;
	text-align:center;
}

.post-date {
	clear:both;
	float: right;
	font-size:10px;
}

#currentInfo {
	margin-top:10px;
	margin-left:20px;
	margin-right: 40px;
	width: 250px;
	float: right;
}

#currentInfo table td {
	padding: 5px;
}

#submitSearch {
	font-size:13px;
	padding: 2px 15px;
}

#loader {
	display:none;
	position: fixed;
	top: 0px;
	right: 0px;
	-moz-border-bottom-left-radius: 15px;
	border-bottom-left-radius: 15px;
	opacity: 0.8;
}

#videosPerRow {
	width: 100px;
}

#fetchAll {
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;

}

#error {
	display: none;
	color: #CD0A0A;
	padding: 5px;
	text-align: center;
}

#search {
	text-align:center;
}
